<!-- مرحلة التأكيد -->

<div class="field">

    <label for="qualification_confirmed">
        مرحلة التأكيد
    </label>

    <select
        id="qualification_confirmed"
        name="qualification_confirmed"
    >

        <option value="لا" selected>
            لم يجتز التأكيد
        </option>

        <option value="نعم">
            اجتاز التأكيد
        </option>

    </select>

</div>


<!-- درجة التأهيل -->

<div class="field">

    <label for="qualification_level">
        درجة التأهيل
    </label>

    <select
        id="qualification_level"
        name="qualification_level"
    >

        <option value="غير مؤهل" selected>
            غير مؤهل
        </option>

        <option value="سيئ">
            سيئ
        </option>

        <option value="حسن">
            حسن
        </option>

        <option value="جيد">
            جيد
        </option>

    </select>

</div>
